################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frinkiac/.vs
/Frinkiac/env
/Frinkiac/__pycache__
*.pyproj
*.sln
